*.iml
.gradle
/local.properties
/.idea/
.externalNativeBuild
.cxx
local.properties
build/
app/build/
.kotlin/
capture.png
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.DS_Store
captures/
*.keystore
!/google-services.json
.externalNativeBuild
.cxx
/build
